#layout-wrapper {
  text-align: center;
  width: 400px;
}
input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  text-align: center;
}
#forgotPassword {
  margin-top: 1rem;
}
