/* Note: This file will be blank when compiled to .css because it only contains variables */
.handwriting {
  font-family: 'Sriracha', 'Georgia', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
#layout-wrapper {
  max-width: 600px;
}
header h1,
header h2 {
  text-align: center;
}
footer {
  background-color: white;
}
menu {
  padding: 10px;
  background-color: white;
  border-bottom: 0.5px solid #ddd;
}
menu form {
  display: inline;
}
menu #logoContainer {
  text-align: left;
  float: left;
  width: 25%;
}
menu #logoContainer #logo {
  width: 172px;
}
menu nav {
  float: right;
  width: 75%;
  text-align: right;
}
menu nav a:link {
  border: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 5px 10px;
}
/*----------------------------------------------------
Mobile styles
-----------------------------------------------------*/
@media only screen and (max-width: 600px) {
  menu #logoContainer,
  menu nav {
    width: 100%;
    float: none;
  }
  menu h1 {
    text-align: center;
    height: 56px;
  }
  menu nav {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  menu nav a:link {
    padding: 5px 8px;
  }
}
